{% load static %}
<!-- _________________________The featured post___________________________ -->
<!-- The title___________________ -->
<div class="most-view item-container">
    <a href="{% url 'item' featured_post.slug %}" aria-label="Link to the post">
        <div class="most-view-title">
            <h2>{{featured_post.title}}</h2>
        </div>
    </a>
    <!-- The image___________________ -->
    <a href="{% url 'item' featured_post.slug %}" aria-label="Link to the post">
        <div class="image-container most-view-image">
            <h3 id="item-category">{{featured_post.get_category_display}}</h3>
            {% if "placeholder" in featured_post.listing_image.url %}
                <img src="https://res.cloudinary.com/ahmad-mas/image/upload/v1695044564/place_holder_rqjtrx.webp" alt="Place holder">
            {% else %}
                <img src="{{ featured_post.listing_image.url }}" alt="{{featured_post.title}}">
            {% endif %}
        </div>
    </a>
    <!-- The content_________________ -->
    <a href="{% url 'item' featured_post.slug %}" aria-label="Link to the post">
        <div class="most-view-sub">
            <!-- <span>{{featured_post.content|safe|truncatewords:25}}</span> -->
            <span>{{featured_post.content|striptags|safe|truncatewords:25}}</span>
        </div>
    </a>
    <!-- The info____________________ -->
    <div class="item-user-info flex-container">
        <div>
            <p><span class="user-name">{{featured_post.author}}</span></p>
            <p><span class="creation-date">{{featured_post.created_on | date:"M d, Y"}}</span></p>
        </div>
        <div class="item-user-interaction flex-container">
            <div class="item-likes">
                <p>
                    <span class="heart"><i class="fa-regular fa-heart"></i></span><span class="number">{{featured_post.number_of_likes}}</span>
                </p>
            </div>
            <div class="item-comments">
                <p>
                    <span class="buble"><i class="fa-regular fa-comment"></i></span><span class="number">{{featured_post.number_of_comments}}</span>
                </p>
            </div>
        </div>
    </div>
</div>