{% load static %}

{% for post in page_obj %}
    
    {% if forloop.last %}
    {% if request.path == '/' %}
        <div class="item-container" hx-get = "{% url 'home' %}?page={{ page_obj.number|add:1 }}" hx-swap="afterend" hx-trigger = "revealed">
        {% elif 'filter_by_category' in request.path %}
        <div class="item-container" hx-get = "{% url 'category_filter' category %}?page={{ page_obj.number|add:1 }}" hx-swap="afterend" hx-trigger = "revealed">
        {% elif 'favorite' in request.path %}
        <div class="item-container" hx-get = "{% url 'favorite_page'%}?page={{ page_obj.number|add:1 }}" hx-swap="afterend" hx-trigger = "revealed">
        {% elif 'my_page' in request.path %}
        <div class="item-container" hx-get = "{% url 'my_page'%}?page={{ page_obj.number|add:1 }}" hx-swap="afterend" hx-trigger = "revealed">
        {% elif 'search' in request.path %}
        <div class="item-container" hx-get = "{% url 'search_bar'%}?page={{ page_obj.number|add:1 }}" hx-swap="afterend" hx-trigger = "revealed">
        {% elif 'tags' in request.path %}
        <div class="item-container" hx-get = "{% url 'tags' tag %}?page={{ page_obj.number|add:1 }}" hx-swap="afterend" hx-trigger = "revealed">
        
        {% endif%}   
           
 
        
    
    {% else %}
        <div class="item-container">
    {% endif %}
            
            <a href="{% url 'item' post.slug %}">

                <div class="image-container item-image">
                    <h3 id="item-category">{{post.get_category_display}}</h3>
                    {% if "placeholder" in post.listing_image.url %}
                        <img src="{% static 'images/image-1.jpg' %}" alt="Place holder">
                    {% else %}
                    <img src="{{ post.listing_image.url }}" alt="{{post.title}}">
                    {% endif %}
                </div>
            </a>
            <div class="item-user-info">
                <p><span class="user-name">{{post.author}}</span> . <span class="creation-date">{{post.created_on | date:"M d, Y"}}</span></p>
            </div>
            <a href="{% url 'item' post.slug %}">
                <div class="item-title">
                    <h2>{{post.title}}</h2>
                </div>
                <div class="item-sub">
                    <span>{{post.content|striptags|truncatewords:25}}</span>
                </div>

            </a>
            <hr>
            <div class="item-user-interaction flex-container">
                {% if 'my_page' in request.path %}
                <div class="buttons-container flex-container">
                    
                    <div class="edit-button  button">
                        
                        <a href="{% url 'edit_item' post.slug %}">Edit</a>
    
                    </div>
                    <div class="delete-button  button">
                        
                        <a href="{% url 'delete_item' post.slug %}">Delete</a>
    
                    </div>

                    <!-- <form class = "delete-button" action="{% url 'delete_item' post.slug %}" method="POST">
                        {% csrf_token %}
                        
                            <button type="submit" name="item_id" value="{{post.slug}}" class="button">Delete
                            </button>
                    </form> -->
                </div>
                {% endif %}
                <div class="item-likes">
                    <p>
                        <span class="heart"><i class="fa-regular fa-heart"></i></span><span class="number">{{post.number_of_likes}}</span>
                    </p>
                </div>
                <div class="item-comments">
                    <p>
                        <!-- <span class="buble"><i class="fa-regular fa-comment"></i></span><span class="number">{{post.comments.all.count}}</span> -->
                        <span class="buble"><i class="fa-regular fa-comment"></i></span><span class="number">{{post.number_of_comments}}</span>

                    </p>
                </div>
            </div>
        </div>

{% endfor%}  
