{% load static %}

{% load django_htmx %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock %}
    <script src="https://kit.fontawesome.com/061a2ef8ba.js" crossorigin="anonymous"></script>
    <title>Crafts Circle</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>

<body>
    <div class ="main-wrapper">

        <header class = "flex-container">
            <div class = "main-container flex-container">
                <div class = "nav-container flex-container">
    
                    <nav id = "bar-menu" class="navigation flex-container ">
                        <ul class="flex-container">
                            <li>
                                <a id ="bar-menu-button" href="javascript:void(0);" class="icon" onclick="toggleMenu('center-nav-menu')"><i class="fa-solid fa-bars"></i></a>
    
                            </li>
                        </ul>
                    </nav>
                    <div class = "logo-container flex-container">
                        <a id = "logo" class = "flex-container" href="{% url 'home' %}">
                            <img class = "big-logo" src="https://res.cloudinary.com/ahmad-mas/image/upload/v1695044569/logo_wu0jeo.svg" alt="Crafts Circle logo">
                            <img class = "small-logo" src="https://res.cloudinary.com/ahmad-mas/image/upload/v1695044568/favicon_sbvbv9.ico" alt="Crafts Circle logo">
                        </a>
                    </div>
                    
                    <nav id="center-nav-menu" class="navigation center flex-container display-non">
                        <ul class ="flex-container">
                            <li>
                                <a class="link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <a class="link" href="{% url 'about_page' %}">About</a>
                            </li>
                            <li>
                                <a class="link" href="{% url 'contact_page' %}">Contact</a>
                            </li>
                            <li class="search-box">
                                <form name="search_bar" method="GIT" action="{% url 'search_bar' %}">
                                    <input id="search_bar" type="text" class="search-input" name="query_input" onmouseout="this.value = ''; this.blur();">
                                </form>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </li>        
                            
                        </ul>
                    </nav>
                    
                    <nav id="right-nav-menu" class="navigation right flex-container">
                        <ul class ="flex-container">
                            <li class=" search-box ">
                                <form name="search_bar" method="GIT" action="{% url 'search_bar' %}">
                                    <input type="text" class="search-input" name="query_input" onmouseout="this.value = ''; this.blur();">
                                </form>
                                <i class="fa-solid fa-magnifying-glass"></i>
                                
                            </li>
                            <li>
                                {% if user.is_authenticated %}
                                <a id ="user-menu-button" href="javascript:void(0);" class="icon user-menu" onclick="toggleMenu('user-menu')"><i class="fa-regular fa-user"></i></i></a>
                                {% else %}
                                <a id ="user-menu-button" href="javascript:void(0);" class="icon user-menu" onclick="toggleMenu('user-menu')"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                                {% endif %}
                                <div id="user-menu" class="drop-down-container display-non">
                                    <ul class="user-drop-down v-flex-container">
                                        {% if not user.is_authenticated %}
                                        <li class=" register">
                                            <a class="link" href="{% url 'account_signup' %}">Register</a>
                                        </li>
                                        <li>
                                            <a class="link" href="{% url 'account_login' %}">Login</a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <span id="user-menu-name">Hi {{user.username}}</span>
                                        </li>
                                        <hr>
                                        {% for group in user.groups.all %}
                                            {% if group.name == 'manager' %}
                                            <li>
                                                <a class="link" href="{% url 'add_item' %}">Add Item</a>
                                            </li>
                                            <li>
                                                <a class="link" href="{% url 'my_page' %}">My Page</a>
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        <li>
                                            <a class="link" href="{% url 'favorite_page' %}">Favorites</a>
                                        </li>
                                        
                                        
                                        <hr>
                                        <li>
                                            <a class="link" href="{% url 'account_logout' %}">Log Out</a>
                                        </li>
                                        {% endif %}
    
                                    </ul>
    
                                </div>
                            </li>
    
                        </ul>
                    </nav>
                </div>
    
            </div>
        </header>
        <main class="flex-container">
           
            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}


            

            {% if messages %}
            <div id="info-modal" class="info-modal flex-container">
                {% for message in messages %}
                <div class="info-modal-message flex-container">
                    <div class=" {{ message.tags }}">
                        <p>{{ message | safe }}</p>

                    </div>
                    <button id="close-modal" type="button" onclick="closeModal()" class="close-button" data-bs-dismiss="modal" aria-label="close"><i class="fa-solid fa-xmark"></i></button>
                </div>
                {% endfor %}
            </div>
            <script>
                setTimeout(function() {
                    closeModal()
                }, 4000);
            </script>
            {% endif %}

            



        </main>
        <footer class="flex-container">
            <div class="copy-info">
                <p>Powered by me</p>
                <p>2023</p>
            </div>
            <div class="main-container flex-container">
                <ul class="social-media  flex-container">
                    <li class="media-link flex-container">
                        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook "></i></a>
                    </li>
                    <li class="media-link flex-container">
                        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li class="media-link flex-container">
                        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class="media-link flex-container">
                        <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                </ul>
            </div>
            
        </footer>
    </div>

    {% block script %}
    <script src="{% static 'js/menu.js' %}"></script>
    {% endblock %}
</body>

</html>
