{% extends "base.html" %}
{% load static %}
<!-- _________________________The favorite page___________________________ -->
{% block content %}
<section id="hero-section" class="main-container">
</section>
<section id = "items"  class="main-container flex-container">
    <div class="main-panel v-flex-container">
        <div class="all-items-container">
            <div class="section-title-container flex-container">
                <!-- The title___________________ --> 
                <h2 class = "section-title">{{section_title}}</h2>
                {% if 'my_page' in request.path %}
                <!-- Add item button_____________ --> 
                <div class="buttons-container add-item-container flex-container">
                    <a class= "add-item-button button" href="{% url 'add_item' %}">Add Item</a>
                </div>
                {% endif %}
            </div>
            {% if not page_obj %}
            <!-- No items________________________ --> 
            <div class="no-items-container flex-container">
                <div class="no-items flex-container">
                    <h2>No Items Avaliable</h2>
                </div>
            </div>
            {% endif %}
            <div class="grid-container">
                <!-- Favorite items list_____________ --> 
                {% include "partials/post_list_items.html"%}
            </div>
        </div>
    </div>
    <!-- Side panel______________________ --> 
    {% include "partials/side_panel.html"%}
</section>
{% endblock %}
{% block script %}
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}    
    