{% extends "base.html" %}
{% load static %}
 
{% block content %}
<section id="hero-section" class="main-container">
    
</section>
<section id = "items"  class="main-container flex-container">
    <div class="main-panel v-flex-container">
        
        <div class="all-items-container">
            
            {% if not page_obj %}
            <div class="no-items-container flex-container">
                <div class="no-items flex-container">
                    <h2>No Items Avaliable</h2>
                
                </div>

            </div>
            {% else %}
            <h2 class = "section-title">{{section_title}}</h2>
            {% endif %}
            <div class="grid-container">
                {% include "partials/post_list_items.html"%}
            </div>
        </div>
    </div>
    {% include "partials/side_panel.html"%}
    
</section>
{% endblock %}
{% block script %}
    <script src="{% static 'js/menu.js' %}"></script>
    
    <script src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}    
    