<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>this is a post</h1>
    <h2>{{post.title}}</h2>
    <p>{{post.content|striptags|slice:":5"}}</p>
    <p>{{post.created_on}}</p>
    {% if post.liked %}
        <h4>Like</h4>
    {% else %}
        <h4>Like not</h4>
    {% endif%}    

    {% for comment in comments %}
        <h3>{{commnet.user}} - <span>{{comment.created_on}}</span></h3>
        <p>{{comment.comment_body}}</p>
    {% endfor%}
</body>
</html>